<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Product</title>
</head>
<body>
    <div>
        <h3><%=header%></h3>
      </div>
      <form role="form"  action="/position/update/save" method="post">
        <div>

            <input type="hidden" class="form-control" name="id" value="<%=item.position_id %>">
            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="<%=item.position_name%>">
              </div>
            

        <div class="box-footer">
          <button type="submit">Submit</button>
          <button type="button"  onClick="window.location.href='/position/delete?id=<%= item.position_id %>'" >Delete</button>
        </div>
      </form>
</body>
</html>